/*BODY FONT*/
body {
	font-family: Arial, sans-serif;
}

/*NAVBAR STYLE*/

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar .left {
	float: left;
}

#navbar .right {
	float: right;
}

/*FOOTER STYLE*/

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer .left {
	float: left;
}

footer .right {
	float: right;
}